

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: fira sans;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    margin: 0px 7.86vmax;
    max-width: 100%;
    
}

p {
    font-size: clamp(18px, 1.578vmax, 1.578vmax);
    color: #525252;
}


.header-menu {
    font-size: clamp(18px, 1.18vmax, 1.18vmax);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}


.header-menu a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    transition-duration: 600ms;
}

.header-menu a:hover {
    background-color: #ececec;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    gap: 6.57vmax;
    position: relative;
    margin: 0px 7.86vmax;
}
.conteudo-principal h1 {
    color: #141414;
    font-size: clamp(26px, 4.73vmax, 4.73vmax);
    font-weight: 500;
    background-color: transparent;
    position: relative;
    
    
}

.conteudo-principal h1::before  {
content: " ";
display: block;
width: 128px;
height: 120px;
background: url("img/detalhe.svg") no-repeat center;
position: absolute;
top: -25px;
left: -40px;
z-index: -1;

}

.conteudo-principal p {
    color: #525252;
font-size: clamp(18px, 1.578vmax, 1.578vmax);
font-weight: 500;
}

.conteudo-principal img {
    width: 24.12vmax;
}

.conteudo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experiencia {
    padding: 40px 20px;
    display: grid;
    grid-template-columns:  1fr 2fr;
    gap: 100px;
    margin: 0px 7.86vmax;

}

.experiencia-titulo {
    word-break: break-all;
    grid-column: 1/2;
    grid-row: 1/-1;
    font-size: clamp(90px, 8.44vmax, 8.44vmax);
    text-transform: uppercase;
    max-width: 3ch;
    color: #e0e0e0;
    line-height: 1;
}

.experiencia-descricao {
    grid-column: 2/-1;
    max-width: 506.600px;
    line-height: 1.33;
    margin-bottom: 60px;
}

.experiencia-lista {
    display: flex;
    flex-direction: column;
    grid-column: 2/-1;
}

.experiencia-empresa {
    display: flex;
    gap:20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.experiencia-lista h3 {
    font-size: clamp(16px, 1.44vmax, 1.44vmax);
    font-weight: 500;
}

.experiencia-empresa p {
    font-size: clamp(14px, 0.92vmax, 0.92vmax);
    line-height: 1.4;
}

.experiencia-empresa {
    position: relative;
}

.experiencia-empresa span {
    position: absolute;
    left: -100px;
    text-align: center;
}

.experiencia-empresa::before {
    content: " ";
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    left: -4px;
}

.empresa-detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50%;
    
}

.empresa-cargo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.empresa-tecnologias  {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
}

.empresa-tecnologias li  {
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    
}

.formacao {
    background-color: #141414;
    width: 100%;
    position: relative;
    
}

.formacao-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding: 120px 20px;
    background-color: #141414;
    margin: 0px 7.86vmax;
}

.formacao-titulo {
    grid-column: 1/2;
    grid-row: 1/-1;
    font-size: 8.44vmax;
    font-weight: bold;
    word-break: break-all;
    line-height: 1;
    max-width: 4ch;
    text-transform: uppercase;
}

.formacao-conteudo {
    display: flex;
    flex-direction: column;
}

.formacao-descricao {
    margin-bottom: 60px;
    color: #a3a3a3;
    max-width: 506.600px;
    line-height: 1.33;
}

.formacao-descricao strong {
    color: white;
    
}

.formacao-lista {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
}

.formacao-lista h3 {
    color: #a3a3a3;
    font-weight: 400;
    margin-bottom: 10px;
}

.formacao-item P {
    color: white;
    font-size: clamp(16px, 1.315vmax, 1.315vmax);
    margin-bottom: 40px;
    line-height: 1.4;
    flex: 1;
    
}

.formacao-item P::before {
    content: " ";
    background-image: linear-gradient(#b6f829, #67dd0a);
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    left: -4px;
    top: 55px;
}


.formacao-item span {
    color: #a3a3a3;
    font-weight: bold;
    font-size: clamp(16px, 1,184vmax, 1,184vmax);
    
}

.formacao-item {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 185px;
    padding: 20px 20px;
    position: relative;
    
}

.formacao-habilidades {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}

.habilidades-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    font-size: clamp(16px, 1,184vmax, 1,184vmax);
    color: #a3a3a3;
    position: relative;
}

.cursos::before {
    content: " ";
    background-image: url(./img/cursos.svg);
    width: 25px;
    height: 25px;
    position: absolute;
    left: -40px;
}

.idiomas::before {
    content: " ";
    background-image: url(./img/idiomas.svg);
    width: 25px;
    height: 25px;
    position: absolute;
     left: -40px;
    }
    
    .habilidades-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .habilidades-curso {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
    .habilidades-curso p {
        font-size: clamp(16px, 1.315vmax, 1.315vmax);
        color: white;
        
    }
    
    
    
    .habilidades-curso span {
        color: #a3a3a3;
        font-size: clamp(16px, 1.315vmax, 1.315vmax);
        
    }
    
    .idioma {
        justify-content: inherit;
    }
    
    .formacao::after {
        content: " ";
        background-image: url(img/detalhe.svg);
        width: 128px;
        height: 120px;
        position: absolute;
        bottom: -60px;
        left: 159.6px;
    }
    
    footer {
        width: 100%;
        height: 500px;
        background-color: black;
        
    }
    
    .rodape {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 7.86vmax;
        height: 100%;
        padding: 40px 20px;
    }

    .footer-wrapper {
        display: flex;
    }


    .contato-descricao {
        color: #a3a3a3;
    margin-top: 120px;
    max-width: 50%;
    place-self: center;
    }

    
    .contato-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 100px;
        margin-left: 160px;
        
    }
    .contato-info p {
        color: white;
        
    }
    .contato-info h4 {
        color: #a3a3a3;

    }

    .contato-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .copywright {
        color: #a3a3a3;
        padding: 40px 0px;
        
    }


    @media(max-width: 900px) {

        header {
            flex-direction: column;
            gap: 60px;
        }

        .header-menu {
            gap: 15px;
        }

        .header-menu li {
            margin-bottom: 20px;
        }

        .header-menu a {
            background-color: #f7f7f7;
        }


        .conteudo-wrapper h1::before {
            top: -5px;
            left: 2px;
            width: 30px;
            height: 12px;

        }

        .experiencia {
            display: flex;
            flex-direction: column;
            gap: 40px;

        }

        .experiencia-titulo {
            max-width: inherit;
            font-size: clamp(32px, 3.15vmax, 3.15vmax);
            color: #141414;
        }

        .experiencia-empresa span {
            position: inherit;
            place-self: start;
        }


        .formacao-wrapper {
            display: flex;
            flex-direction: column;
            gap: 40px;

        }

        .formacao-titulo {
            max-width: inherit;
           font-size: clamp(32px, 3.15vmax, 3.15vmax);
            color: #fff;
        }

        .footer-wrapper {
            display: flex;
            flex-direction: column;
            
        }

        footer {
            height: fit-content;
        }

        .copywright {
            padding: 0px;
            margin-top: 40px;
        }

        .contato-descricao {
            max-width: 400px;
            align-self: start;

        }

        .contato-info {
            margin-top: 30px;
            margin-left: 0px;
        }
        
       
        
    }



    @media(max-width: 500px) {

        

        .conteudo-principal {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .conteudo-principal h1 {
            text-align: center;
        }
        
        .conteudo-principal p {
            max-width: 200px;
            text-align: center;

        }

        .conteudo-principal h1::before {
            left: 20px;
            top: -8px;
}

        .conteudo-principal img {
            position: absolute;
            width: 100vmin;
            opacity: 35%;
            z-index: -1;

        }

        .experiencia-empresa {
            flex-direction: column;
        }
        
        .empresa-detalhes p {

            max-width: 100%;
        }



        .empresa-detalhes p {

            max-width: 100%;

        }
        




        .experiencia-titulo {

            text-align: center;
        }

        .formacao-item {
            width: 100%;
        }

    }